.subhelp{
    display:flex;
    padding-top: 10px;
    padding-bottom: 60px;
}

.submit_bs{
    margin-right:auto;
    margin-left: auto;
    
}

#bs_button{
    font-size: 20px;
}


#bs_button:hover{
    background-color:rgb(63, 178, 244);
    width: 10rem;
}

.box{
    /* border : solid rgb(153, 0, 0);; */
    display: flex;
    justify-content: center;
}

#consider-test{
    padding-right: 15px;
    padding-top:30px;
    font-size: 30px;
    /* outline: solid blue; */
    font-family: 'Trebuchet MS', sans-serif;

}

#bs-test{
    font-family: Trattatello, fantasy;
    font-size: 50px;
    color: rgb(153, 0, 0);
    /* outline: solid red; */
}

h3{
    width:100%;
    text-align: center;
    padding-top: 10px;
}

.added-help{
    font-family: 'Trebuchet MS', sans-serif;
}


@media screen and (max-device-width:600px) {
    #consider-test{
        font-size:25px;
        padding-left: 20px;
        padding-top: 20px;
    }
    #bs-test{
        font-size:30px;
        padding-right: 60px;
    }
}