#name{
    font-size: 65px;
    color: rgb(153, 0, 0);
    display:flex;
    justify-content: center;
    padding-left: 10px;
}

#name:hover{
    transition-duration: 1s;
    font-size: 80px;
}

.wrap{
    display:flex;
    justify-content:center;
}

input{
    margin-top: 5px;
}

button{
    margin-left: 10px;
}

#submitNewItem:hover{
    background-color:rgb(42, 195, 42);
    size-adjust: 10rem;
    transition-duration: 1s;
}

.flex-parent-element {
    outline: solid black;
    width:95%;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex-child-element {
    flex: 1;
    /* border: 2px solid blueviolet; */
    margin: 10px;
}

.flex-child-element:first-child {
    margin-right: 20px;
}

#details{
    text-align: right;
    padding-right: 100px;
}

.para{
    margin-bottom: 1px;
    margin-top: 10px;
    font-weight: bold;
}

.para:hover{
    color: rgb(153, 0, 0);
}

h3{
    width:100%;
    text-align: center;
    padding-top: 10px;
}


#container{
    padding-top: 20px;
    border-bottom: 1px solid rgb(223, 211, 211);
    padding-bottom: 30px;
}

.newItem{
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 5px;
    font-family: 'Trebuchet MS', sans-serif;

}

#newName{
    padding-top: 50px;
}

#newURL{
    padding-bottom: 40px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
}

.imgBox:hover{
    transform: rotate(360deg);
    transition-duration: 1s;
}

@media screen and (max-device-width:600px) {
    #name{
        font-size:40px;
    }
    img{
        width:600px;
    }
}